
{% load user_tags %}
{% if n %}
<div class="row">
  <div class="col-md-12">
<table class="table" align="center" style="width:78%;font-family: Montserrat">
<tr>
<th>FIRST NAME</th>
<th>MOBILE NUMBER</th>
<th>ACTION</th>
</tr>
{% for m1 in m %}
<tr>
<td >{{m1}}</td>
<td>{{m1.mobile_number}}</td>

<td><a href="{% url 'edit_facilitator' m1.facilitator_id %}" data-toggle="tooltip" data-placement="bottom" title="Edit"><span class="glyphicon glyphicon-pencil actionedit"></span></a> &nbsp; &nbsp; <a href="{% url 'view_facilitator' m1.facilitator_id %}" data-toggle="tooltip" data-placement="bottom" title="View"><span class="glyphicon glyphicon-eye-open actionview"></span></a></td>
{% endfor %}
</tr>

</table>
</div>
</div>
<br><br>
<br>




{% else %}

<p style="margin-left:21px;font-size:20px">Facilitator with that name does not exist</p>

<div id=" ">
  <table align="center" style="width:80%;font-family: Montserrat">
    <tr>
      <th>NAME</th>
      <th>CONTACT</th>
      <th>ACTION</th>
    </tr>
      {% for s1 in f %}
    <tr>
      <td>{{s1}}</td>
      <td>{{s1.mobile_number}}</td>
      <td><u><a href="{% url 'view_facilitator' s1.facilitator_id %}"data-toggle="tooltip" data-placement="bottom" title="Edit"><span class="glyphicon glyphicon-pencil actionview"></span></a></u> &nbsp; &nbsp <a href="{% url 'view_facilitator' s1.facilitator_id %}"data-toggle="tooltip" data-placement="bottom" title="View"><span class="glyphicon glyphicon-eye-open actionview"></span> </td>
    </tr>
      {% endfor %}
  </table>
  <br>

  <div class="pagination" style="width:20%;position:absolute;left:40%">
  <ul style="position:absolute;left:10%">
    {% if f.has_previous %}
    <li><a href="?page2={{f.previous_page_number}}">Previous</a></li>
   {% endif %}
   {% for pg in f.paginator.page_range %}
   {% if f.number == pg %}
   <li class="active" style="background-color:orange;color:white;"><a href="?page2={{pg}}">{{pg}}</a></li>
  {% elif pg > f.number|add:'-2' and pg < f.number|add:'2' %}
  <li><a href="?page2={{ pg }}">{{pg}}</a></li>
  {% endif %}
  {% endfor %}

  {% if f.has_next %}
  <li><a href="?page2={{f.next_page_number}}">Next</a></li>
  {% endif %}
  </ul>

  </div>

</div>
<br><br><br><br><br>


{% endif %}
