{% load user_tags %}

{% if m|check1 %}
<div class="row">
  <div class="col-md-12">
<table class="table" align="center" style="width:80%;font-family: Montserrat">
<tr>
  <th>NAME</th>
  <th>MOBILE NUMBER</th>
  <th>EMAIL</th>
  <th>ENROLLENT DATE</th>
  <th>EDIT</th>
</tr>
{% for s1 in m %}
<tr>
  <td>{{s1.first_name}} {{s1.last_name}}</td>
  <td>{{s1.mobile_number}}</td>
  <td>{{s1.email_id}}</td>
  <td>{{s1.enroll_date}}</td>
  <td><a href="{% url 'edit_student' s1.student_id %}" data-toggle="tooltip" data-placement="bottom" title="Edit"><span class="glyphicon glyphicon-pencil actionedit"></span></a> &nbsp; &nbsp <a href="{% url 'delete_student' s1.student_id %}" data-toggle="tooltip" data-placement="bottom" title="Delete"><span class="glyphicon glyphicon-remove actionremove"></span></a> &nbsp; &nbsp  <a href="{% url 'view_student' s1.student_id %}" data-toggle="tooltip" data-placement="bottom" title="View"><span class="glyphicon glyphicon-eye-open actionview"></span></a></td>
</tr>
{% endfor %}
</table>
</div>
</div>
<br>

{% else %}
<div class="row">
  <div class="col-md-12">
<p style="margin-left:21px;font-size:20px">Student with that name does not exist</p>
</div>
</div>

{% endif %}
