creating_futures/__pycache__/__init__.cpython-39.pyc
creating_futures/__pycache__/settings.cpython-39.pyc
creating_futures/__pycache__/urls.cpython-39.pyc
creating_futures/__pycache__/wsgi.cpython-39.pyc
user_admin/__pycache__/__init__.cpython-39.pyc
user_admin/__pycache__/admin.cpython-39.pyc
user_admin/__pycache__/forms.cpython-39.pyc
user_admin/__pycache__/models.cpython-39.pyc
user_admin/__pycache__/views.cpython-39.pyc
user_admin/migrations/__pycache__/__init__.cpython-39.pyc
user_admin/migrations/__pycache__/0001_initial.cpython-39.pyc
user_admin/templatetags/__pycache__/__init__.cpython-39.pyc
user_admin/templatetags/__pycache__/user_tags.cpython-39.pyc
user_student/__pycache__/__init__.cpython-39.pyc
user_student/__pycache__/admin.cpython-39.pyc
user_student/__pycache__/crossword_puzzle.cpython-39.pyc
user_student/__pycache__/models.cpython-39.pyc
user_student/__pycache__/views.cpython-39.pyc
user_student/migrations/__pycache__/__init__.cpython-39.pyc
user_student/migrations/__pycache__/0001_initial.cpython-39.pyc
user_student/migrations/__pycache__/0002_auto_20210203_1648.cpython-39.pyc
user_student/migrations/__pycache__/0003_auto_20210203_1706.cpython-39.pyc
user_student/templatetags/__pycache__/__init__.cpython-39.pyc
user_student/templatetags/__pycache__/student_tag.cpython-39.pyc
