{% load static %}
{% load student_tag %}
<html>
    <head>

      <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="course.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="serachbar.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>
        <div class="nav">
            <div class="navig">
              <div>
            <img src="{% static 'elixir_logo.PNG' %}" alt="" style="width:20%;height:100%;margin:0;"/>
            </div>
            <div class="navv">
            <a href="{% url 's_home' pk pk1 %}" style="font-size:150%;margin:10px;">HOME</a>
            <a href="" style="font-size:150%;margin:10px;">ABOUT US</a>
            <a href="" style="font-size:150%;margin:10px;">REPORTS</a>
                <a href="{% url 'student_login' %}" style="font-size:150%;margin:10px;">LOG OUT</a>
            </div>
            </div>
          </div>
          <ul class="breadcrumb">
            
            <li><a href="#" >MODULES</a></li>
          </ul>
        <table>
    <th>
        <h3>Narrative</h3>
    </th>
    <th>
        <h3>Test</h3>
    </th>
    
    {% for i in d  %} 
    <tr>
        <td>{{i}}</td>
        <td> <button id="submit" class="button"><a href="{% url 'match' pk pk1 pk2 m.pk l.pk i %}">Test</a></button></td>
    </tr>
    {% endfor %}
    
   
 
</table>


    </html>


    