{% load static %}
{% load student_tag %}
<html>
    <head>
      <style>
        ul.breadcrumb li+li:before {
padding: 18px;
color: red;
content: '-';

}
        .button{
 font-family: 'Montserrat';
 background-color: orange;
 border: none;
 color: black;
 padding: 12px 22px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 14px;
 margin: 4px 2px;
 cursor: pointer;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   outline: none;
 }

      </style>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="course.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="serachbar.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>
        <div class="nav">
            <div class="navig">
              <div>
            <img src="{% static 'elixir_logo.PNG' %}" alt="" style="width:20%;height:100%;margin:0;"/>
            </div>
            <div class="navv">
            <a href="{% url 's_home' pk pk1 %}" style="font-size:150%;margin:10px;">HOME</a>
            <a href="" style="font-size:150%;margin:10px;">ABOUT US</a>
            <a href="" style="font-size:150%;margin:10px;">REPORTS</a>
                <a href="{% url 'student_login' %}" style="font-size:150%;margin:10px;">LOG OUT</a>
            </div>
            </div>
          </div>
          <ul class="breadcrumb">
            <li><a href="#" >MODULES</a></li>
          </ul>
      <ul class="breadcrumb">
        <li>Match the following</li>
      </ul>

<table  cellpadding= "1" >
    {% for i in d  %}   
  <tr>
  <td  style="padding-left: 7%;">  {{i}} </td>
    <td  style="padding-left: 7%;">
    <ul class="breadcrumb" style="padding:0px 10px;">
      <li><button id="submit" class="button" style="width:120px" onclick="location.href='{% url 'match' pk pk1 pk2 m.pk l.pk i %}'">Start Test</button></li>
    </ul>
  </td>
  </tr>
      {% endfor %}
</table>

    </html>