{% load static %}
{% load student_tag %}
<html>
    <head>
      <style>
ul.breadcrumb li+li:before {
padding: 18px;
color: red;
content: '-';

}
.button{
 font-family: 'Montserrat';
 background-color: orange;
 border: none;
 color: black;
 padding: 12px 22px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 14px;
 margin: 4px 2px;
 cursor: pointer;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   outline: none;
 }

      </style>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>
        <div class="nav">
            <div class="navig">
              <div>
            <img src="{% static 'elixir_logo.PNG' %}" alt="" style="width:20%;height:100%;margin:0;"/>
            </div>
            <div class="navv">
            <a href="{% url 's_home' pk pk1 %}" style="font-size:150%;margin:10px;">HOME</a>
            <a href="" style="font-size:150%;margin:10px;">ABOUT US</a>
            <a href="" style="font-size:150%;margin:10px;">REPORTS</a>
                <a href="{% url 'student_login' %}" style="font-size:150%;margin:10px;">LOG OUT</a>
            </div>
            </div>
          </div>
          <ul class="breadcrumb">
            <li><a href="{% url 'spoken_english' pk pk1 pk2 %}" >MODULES</a></li>
          </ul>

      <ul class="breadcrumb">
        <li>{{name}}</li>
      </ul>
<table  cellpadding= "1" >
    {% for i in d  %}   
  <tr>
  <td  style="padding-left: 7%;">  {{i}} </td>
    <td  style="padding-left: 7%;">
    <ul class="breadcrumb" style="padding:0px 10px;">
      <li class="Match the following"><button id="submit" class="button" style="width:120px" onclick="location.href='{% url 'match' pk pk1 pk2 m.pk l.pk i question_type_id %}'">Start Test</button></li>
    </ul>
    <ul class="breadcrumb" style="padding:0px 10px;">
      <li class="Word search"><button id="submit" class="button" style="width:120px" onclick="location.href='{% url 'word_find' pk pk1 pk2 m.pk l.pk i question_type_id %}'">Start Test</button></li>
    </ul>
    <ul class="breadcrumb" style="padding:0px 10px;">
      <li class="Crossword"><button id="submit" class="button" style="width:120px" onclick="location.href='{% url 'crossword' pk pk1 pk2 m.pk l.pk i question_type_id %}'">Start Test</button></li>
    </ul>
  </td>
  </tr>
      {% endfor %}
</table>
<script>
var name = "{{name|safe}}";
var len = {{d|safe}};
var len = len.length;
if(name=="Word search"){
  console.log(name);
  for (var i = 0;i<len;i++){
    document.getElementsByClassName('Match the following')[i].style.display='none';
    document.getElementsByClassName('Crossword')[i].style.display='none';
  }
}
if(name=="Match the following"){
  console.log(name);  
  for (var i = 0;i<len;i++){
    document.getElementsByClassName('Word search')[i].style.display='none';
    document.getElementsByClassName('Crossword')[i].style.display='none';
  }
}

if(name=="Crossword"){
  console.log(name);
  for (var i = 0;i<len;i++){
    document.getElementsByClassName('Match the following')[i].style.display='none';
    document.getElementsByClassName('Word search')[i].style.display='none';
  }
}

</script>
</html>