{% load static %}
{% load student_tag %}
<link rel="stylesheet" href="/static/css/StudentModuleHelpStyle.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link
href="https://fonts.googleapis.com/css?family=Montserrat"
rel="stylesheet"
/>
  <div class="nav">
    <div class="navig">
      <div>
    <img src="{% static 'elixir_logo.PNG' %}" alt="" style="width:20%;height:100%;margin:0;"/>
    </div>
    <div class="navv">
    <a href="{% url 's_home' pk pk1 %}" style="font-size:150%;margin:10px;">HOME</a>
    <a href="" style="font-size:150%;margin:10px;">ABOUT US</a>
    <a href="" style="font-size:150%;margin:10px;">REPORTS</a>
        <a href="{% url 'student_login' %}" style="font-size:150%;margin:10px;">LOG OUT</a>
    </div>
    </div>
  </div>
  {% block content %} {% endblock content %}
