{% extends 'base1.html' %}
{% load static %}
{% load student_tag %}

{% block page_specific_styles%}
 {#body {
      background-color: lightgrey;
    }

    #top {
      top: 0;
      background-color: orange;
      height: 100px;
    }

    body {
      background: lightgrey;
      font-family: Montserrat;
      font-size: 12px;
    }

    * {
      transition: all 0.3s ease-in-out;
    }


    nav {
      float: right;
    }

    .logo img {
      float: left;
      padding: 8px;
    }

    h1 {
      font-family: "Montserrat";
      font-weight: 100;

    }


    .nav {
      background-color: orange;
      height: 30%;
      display: grid;
      grid-template-rows: auto auto auto;
      justify-content: center;
      align-items: center;
    }

    .navig {
      grid-row: 2/3;
      display: flex;
      flex-wrap: nowrap;
      background-color: white;
      flex-direction: row;
    }

    .navv {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 10px;
    }

    .collapsible {
      background-color: #777;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }

    .active,
    .collapsible:hover {
      background-color: #555;
    }

    .collapsible:after {
      content: '\002B';
      color: white;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\2212";
    }

    .content {
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: #f1f1f1;
    }

    ul.breadcrumb {
      padding: 10px 16px;
      list-style: none;
      background-color: lightgray;
    }

    ul.breadcrumb li {
      display: inline;
      font-size: 18px;
    }

    ul.breadcrumb li+li:before {
      padding: 8px;
      color: black;
      content: "/\00a0";
    }

    ul.breadcrumb li a {
      color: darkblue;
      text-decoration: none;
    }

    ul.breadcrumb li a:hover {
      color: darkblue;
      text-decoration: underline;
    }

    h2 {
      height: 30;
      margin-bottom: 0;
      margin-top: 0;
    }

    td {
      font-size: small;
    }

    td.t1 {
      table-layout: auto;
      width: 100px;
    }#}

 .collapsible {
      background-color: #777;
      color: white;
      cursor: pointer;
     
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }

.collapsible>h2{
    font-family:Arial;
    font-size:15px;
}

    .active,
    .collapsible:hover {
      background-color: #555;
    }

    .collapsible>h2:after {
      content: '\002B';
      color: white;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active>h2:after {
      content: "\2212";
    }

    .content {
      padding: 0 0px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: #777;
      font-family:Arial;
      font-weight:bold;
      font-color:white;
    }
    .content>table{
            width:100%;
            color:white;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
    }
    .content>table>tbody>tr>td{
        width:33%;
        font-size:14px;
        padding-top:10px;
        padding-bottom:10px;
        padding-left:35px;
    }
    .content>table>tbody>tr>td>a{
     color:white;
     font-weight:bold;
    }
{% endblock page_specific_styles%}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="#">MODULES</a></li>
    </ul>

  <center>
    <h1> {{p.program_name|allcaps}}</h1>
  </center>

  {% for i,lev in l %}
    <button class="collapsible">
        <h2><b>{{i.module_name|allcaps}}</b></h2>
    </button>
  <div class="content">

    {% for j in lev %}
        <table>
          <tr>
           

              <td class="t1">
                <a href="{% url 'e2e_modules' pk pk1 pk2 i.pk j.pk  %}">{{j.level_description|allcaps}}</a> 
              </td>
              <td>
                <a href="">Go To Lesson </a>
              </td>
              <td>
                <b> Score :
                  XX</b>
              </td>

           
          </tr>
        </table>
    {% endfor %}

  </div>
 {% endfor %}

  <script>


    var coll = document.getElementsByClassName("collapsible");
    var i;
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }

    /* var coll=document.getElementsByClassName("collapsible");
      coll[1].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight){
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          }
        });
      */

      //var coll=document.getElementsByClassName("collapsible");



  </script>



{% endblock content %}

