{% extends 'bootstrap_base.html' %}

{% block page_specific_styles%}
body {
  font-family: 'Century Gothic' !important;
}
h1 {
  background-color: lightgrey;
  display: inline-block;
  font-size: 3em;
  margin: 0;
  padding: 14px;
}
h3 {
  color: black;
  font-size: 20px;
  margin-top: 3px;
  text-align: center;
}
#chatbox {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 60px;
}
#userInput {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 60px;
}
#textInput {
  width: 100%;
  border: none;
  border-bottom: 3px solid black;
  font-family: monospace;
  font-size: 17px;
}
.userText {
  color: white;
  font-family: 'Century Gothic' !important;
  font-size: 17px;
  text-align: right;
  line-height: 30px;
}
.userText span {
  background-color: gray;
  padding: 10px;
  border-radius: 2px;
}
.botText {
  color: white;
  font-family: 'Century Gothic' !important;
  font-size: 17px;
  text-align: left;
  line-height: 30px;
}
.botText span {
  background-color: orange;
  padding: 10px;
  border-radius: 2px;
}
#tidbit {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
}
.boxed {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 60px;
  border: 1px solid white;
  background-color: gainsboro;
  border-radius: 1%;
}
.open-button {
  background-color: orange;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  left: 28px;
  width: 280px;
  margin-right: 10px;
}
.cancel-button {
  background-color: grey;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  left: 100px;
  width: 280px;
}
{% endblock page_specific_styles%}

{% block page_specific_htmlhead%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/static/components/bootstrap/css/bootstrap.min.css">
<script src="/static/components/jquery/jquery3.6.0.min.js"></script>
<script src="/static/components/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
{% endblock%}

{% block content %} 
    <center>
      <h1>
        Elixir, Your Personal ChatBot
      </h1>
    </center>
    <div class="box"></div>
    <div class="boxed canvas_div_pdf">
      <div>
        <div id="chatbox">
          <p class="botText">
            <span>Hello and good day ! My name is Elixir .Nice to meet you</span>
          </p>
        </div>
        <div id="userInput">
          <input id="textInput" type="text" name="msg" placeholder="Type your response" />
        </div>
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document
            .getElementById("userInput")
            .scrollIntoView({ block: "start", behavior: "smooth" });
          $.get("/get-response/", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + "</span></p>";
            $("#chatbox").append(botHtml);
            document
              .getElementById("userInput")
              .scrollIntoView({ block: "start", behavior: "smooth" });
          });
        }
        $("#textInput").keypress(function(e) {
          if (e.which == 13) {
            getBotResponse();
          }
        });

        function goBack() {
        window.history.back();
        }

        function getPDF(){

        var HTML_Width = $(".canvas_div_pdf").width();
        var HTML_Height = $(".canvas_div_pdf").height();
        var top_left_margin = 15;
        var PDF_Width = HTML_Width+(top_left_margin*2);
        var PDF_Height = (PDF_Width*1.5)+(top_left_margin*2);
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;

        var totalPDFPages = Math.ceil(HTML_Height/PDF_Height)-1;


        html2canvas($(".canvas_div_pdf")[0],{allowTaint:true}).then(function(canvas) {
          canvas.getContext('2d');
          
          console.log(canvas.height+"  "+canvas.width);
          
          
          var imgData = canvas.toDataURL("image/jpeg", 1.0);
          var pdf = new jsPDF('p', 'pt',  [PDF_Width, PDF_Height]);
            pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin,canvas_image_width,canvas_image_height);
          
          
          for (var i = 1; i <= totalPDFPages; i++) { 
            pdf.addPage(PDF_Width, PDF_Height);
            pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
          }
          
            pdf.save("HTML-Document.pdf");
            });
        };
      </script>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <a href="javascript:getPDF()"><button class="open-button" onclick="return openForm()" type="submit">Submit</button></a>
      <button class="cancel-button" onclick="goBack()">Cancel</button>
    </div>
  {% endblock content %}
