{% extends 'base.html' %}
{% load static %}

{% load student_tag %}




{% block page_specific_htmlhead %}
    <link rel="stylesheet" href="/static/components/bootstrap-4.4.1-dist/css/bootstrap.min.css">
{#<link rel="stylesheet" href="/static/css/strengths.css">#}


    <title>Vision Board</title>

{% endblock %}


{% block page_specific_styles %}

    .wrapper{
    background:rgba(0,0,0,0.1);
    display:inline-block;
    border-radius:10px;
    width:22%;
    margin:0.5rem;
    text-align:center;
    border:2px solid black;
    }

{% endblock %}



{% block content %}



<ul class="breadcrumb m-3">
    <li><a href="{% url 'spoken_english' pk pk1 program %}">MODULES</a></li>.
    <li><a href="#">Vision Board</a></li>
</ul>

<div class="container mt-5">

    <div class="wrapper pt-1 pb-1" style="background: orange"><h4>My Name</h4></div>
    <div style="display: inline-block;margin: 0.5rem" ><h4>{{ name }}</h4></div>
    <br>
    <div class="wrapper pt-1 pb-1 mb-0"><h4>My Qualities</h4></div>
    <div class="wrapper pt-1 pb-1 mb-0"><h4>My Soft Skills</h4></div>
    <div class="wrapper pt-1 pb-1 mb-0"><h4>My Hard Skills</h4></div>
    <div class="wrapper pt-1 pb-1 mb-0"><h4>My Talents</h4></div>
    <div class="wrapper pt-1 pb-1 mt-0 bg-light"><h4>My Qualities</h4></div>
    <div class="wrapper pt-1 pb-1 mt-0 bg-light"><h4>My Qualities</h4></div>
    <div class="wrapper pt-1 pb-1 mt-0 bg-light"><h4>My Qualities</h4></div>
    <div class="wrapper pt-1 pb-1 mt-0 bg-light"><h4>My Qualities</h4></div>


        {% if messages %}
        {% for m in messages %}
    {%  if forloop.first  %}

    <h4 style="background: #10b910" class="p-2 text-white">{{m}}</h4>
    {% endif %}
    {% endfor %}
    {% endif %}



</div>
{% endblock %}