{% extends 'base.html' %}
{% load static %}

{% load student_tag %}




{% block page_specific_htmlhead %}
    <link rel="stylesheet" href="/static/components/bootstrap-4.4.1-dist/css/bootstrap.min.css">
{#<link rel="stylesheet" href="/static/css/strengths.css">#}


    <title>Vision Board</title>

{% endblock %}


{% block page_specific_styles %}

    .wrapper{
    background:rgba(0,0,0,0.1);
    display:inline-block;
    border-radius:10px;
    width:22%;
    margin:0.5rem;
    text-align:center;
    border:2px solid black;
    }

{% endblock %}



{% block content %}



<ul class="breadcrumb m-3">
    <li><a href="{% url 'spoken_english' pk pk1 program %}">MODULES</a></li>.
    <li><a href="#">Vision Board</a></li>
</ul>

<div class="container mt-5">

    <div class="wrapper pt-1 pb-1" style="background: orange"><h4>My Name</h4></div>
    <div style="display: inline-block;margin: 0.5rem;"  class="bg-light wrapper"><h4>{{ name }}</h4></div>
    <br>
    <div class="wrapper pt-1 pb-1 mb-0"><h5>My Qualities</h5></div>
    <div class="wrapper pt-1 pb-1 mb-0"><h5>My Soft Skills</h5></div>
    <div class="wrapper pt-1 pb-1 mb-0"><h5>My Hard Skills</h5></div>
    <div class="wrapper pt-1 pb-1 mb-0"><h5>My Talents</h5></div>
    <div class="wrapper pt-1 pb-1 mt-0 bg-light"><h5>{{ qualities }}</h5></div>
    <div class="wrapper pt-1 pb-1 mt-0 bg-light"><h5>{{ soft }}</h5></div>
    <div class="wrapper pt-1 pb-1 mt-0 bg-light"><h5>{{ hard }}</h5></div>
    <div class="wrapper pt-1 pb-1 mt-0 bg-light"><h5>{{ talents }}</h5></div>
    <div class="wrapper pt-1 pb-1 mb-0" style="width: 100%"><h5>My Career Vision Statement</h5></div>
    <div class="wrapper pt-1 pb-1 mt-0 bg-light p-2" style="width: 100%"><textarea style="width: 100%; font-size: 1.5rem"></textarea></div>
    <div class="d-flex justify-content-center">
    <div class="wrapper pt-1 pb-1 mb-0"><h5>Job I will do to meet my Vision</h5></div>
    <div class="wrapper pt-1 pb-1 mb-0"><h5>Educational Qualifications needed for my Job</h5></div>
    <div class="wrapper pt-1 pb-1 mb-0"><h5>Trainings I need For he Job</h5></div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="wrapper pt-1 pb-1 mt-0 bg-light p-2"><textarea style="width: 100%;"></textarea></div>
        <div class="wrapper pt-1 pb-1 mt-0 bg-light p-2"><textarea style="width: 100%;"></textarea></div>
        <div class="wrapper pt-1 pb-1 mt-0 bg-light p-2"><textarea style="width: 100%;"></textarea></div>
    </div>
    <div class="wrapper pt-1 pb-1 mb-0"><h5>Qualities I need to develop</h5></div>
    <div class="wrapper pt-1 pb-1 mb-0"><h5>Soft Skills I need to develop</h5></div>
    <div class="wrapper pt-1 pb-1 mb-0"><h5>Hard Skills I need to develop</h5></div>
    <div class="wrapper pt-1 pb-1 mb-0"><h5>My Talents</h5></div>
    <div class="wrapper pt-1 pb-1 mt-0 bg-light p-2"><textarea style="width: 100%;"></textarea></div>
    <div class="wrapper pt-1 pb-1 mt-0 bg-light p-2"><textarea style="width: 100%;"></textarea></div>
    <div class="wrapper pt-1 pb-1 mt-0 bg-light p-2"><textarea style="width: 100%;"></textarea></div>
    <div class="wrapper pt-1 pb-1 mt-0 bg-light p-2"><textarea style="width: 100%;"></textarea></div>

<div class="d-flex justify-content-end mt-3">
        <button class="button" >Download</button>
        <button class="button" >Cancel</button>

</div>

        {% if messages %}
        {% for m in messages %}
    {%  if forloop.first  %}

    <h4 style="background: #10b910" class="p-2 text-white">{{m}}</h4>
    {% endif %}
    {% endfor %}
    {% endif %}



</div>

<script>
     var a = "{{ hard }}"
     if (a.length === 0){
         alert("Please Fill My Strengths")
     }
</script>
{% endblock %}