body {background-color: lightgrey;}

#top {
top: 0;
background-color: orange;
height: 100px;
}
body{
background: lightgrey;
font-family:'Century Gothic';
font-size:12px;
}

*{transition:all 0.3s ease-in-out;}


nav{float:right;}

.logo img{float:left; padding:8px;}

h1{
font-family: "Montserrat";
font-weight: 100;

}


.nav
{
background-color:orange;
height:30%;
display:grid;
grid-template-rows:auto auto auto;
justify-content:center;
align-items:center;
}

.navig
{
grid-row:2/3;
display:flex;
flex-wrap:nowrap;
background-color:white;
flex-direction:row;
}

.navv
{
width:80%;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
margin:10px;
}
ul.breadcrumb {
padding: 10px 16px;
list-style: none;
background-color:lightgray;
}
ul.breadcrumb li {
display: inline;
font-size: 18px;
}
ul.breadcrumb li+li:before {
padding: 8px;
color: black;
content: "/\00a0";
}
ul.breadcrumb li a {
color: darkblue;
text-decoration: none;
}
ul.breadcrumb li a:hover {
color: darkblue;
text-decoration: underline;
}
h2 {background-color: white;height: 30;margin-bottom: 0;margin-top:0;}