body {
    background-color: lightgrey !important;
}

body {
    background: lightgrey;
    font-family: 'Century Gothic' !important;
    font-size: 12px;
}

.nav {
    background-color: orange;
    height: 200px;
    display: inline-flex;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.navig {
    grid-row: 2/3;
    display: inline-flex;
    flex-wrap: nowrap;
    background-color: white;
    flex-direction: row;
    width: 80vw;
}

.navv {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.navv>a{
    font-size:18px;
    margin:10px;
}

nav {
    float: right;
}

.button {
    font-family: 'Century Gothic';
    background-color: orange;
    border: none;
    color: black;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 15px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline: none;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: lightgray;
}

ul.breadcrumb li {
        display: inline;
        font-size: 18px;
}

ul.breadcrumb li + li:before {
            padding: 8px;
            color: black;
            content: "/\00a0";
}

ul.breadcrumb li a {
            color: darkblue;
            text-decoration: none;
}

 ul.breadcrumb li a:hover {
                color: darkblue;
                text-decoration: underline;
}


#GAHeader{
    font-size:18px;
    text-align:center;
}

#GASubHeader{
    font-size:16px;
    text-align:center

}

#narrative  
{
    font-size: 16px;
}

#question {
    font-size: 14px;
}

#hint{
    font-size: 16px;
}

#questiontype{
    font-size:16px;
}

.green{
    color:green
}

.red{
    color:red;
}


table[name='listen'],
table[name='listen'] > thead > th,
table[name='listen'] > thead > th > td,
table[name='listen'] > tbody > tr > td {
    border: 1px solid #696969;
    border-collapse: collapse;
    text-align: center;
    background-color: #c4c4c4;
    font-size: 12px;
}

    table[name='listen'] > thead > tr > th,
    table[name='listen'] > tbody > tr > td {
        padding: 15px;
    }

    table[name='listen'] > thead > tr > th {
        background-color: #ffffff;
    }

table[name='mi'],
table[name='mi'] > thead > th,
table[name='mi'] > thead > th > td,
table[name='mi'] > tbody > tr > td {
    border: 1px solid #696969;
    border-collapse: collapse;
    text-align: center;
    background-color: #c4c4c4;
    font-size: 12px;
}

    table[name='mi'] > thead > tr > th,
    table[name='mi'] > tbody > tr > td {
        padding: 15px;
    }

    table[name='mi'] > thead > tr > th,
    table[name='mi'] > tfoot > tr > td,
    table[name='mi'] > tfoot > tr > th {
        background-color: #ffffff;
        border: 1px solid #696969;
    }
       
