body {
    background-color: lightgrey !important;
}

body {
    background: lightgrey;
    font-family: Montserrat !important;
    font-size: 12px;
}

.nav {
    background-color: orange;
    height: 30%;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
}

.navig {
    grid-row: 2/3;
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    flex-direction: row;
}

.navv {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

nav {
    float: right;
}

.button {
    font-family: 'Montserrat';
    background-color: orange;
    border: none;
    color: black;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline: none;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: lightgray;
}

ul.breadcrumb li {
        display: inline;
        font-size: 18px;
}

ul.breadcrumb li + li:before {
            padding: 8px;
            color: black;
            content: "/\00a0";
}

ul.breadcrumb li a {
            color: darkblue;
            text-decoration: none;
}

 ul.breadcrumb li a:hover {
                color: darkblue;
                text-decoration: underline;
}