<div class="row" style="margin-left:20px">
  <div class="col-md-5"></div>
  <div class="col-md-4" >
    <ul class="pagination">
      {% if p.has_previous %}
      <li><a href="?page=1">&laquo;</a></li>
      <li>
        <a class="" href="?page={{p.previous_page_number}}">Prev</a>
      </li>
      {% else %}
      <li><a>&laquo;</a></li>
      {% endif %} {% for pg in p.paginator.page_range %} {% if p.number == pg%}
      <li><a class="active" href="?page={{pg}}">{{pg}}</a></li>
      {% elif pg > p.number|add:'-5' and pg < p.number|add:'5' %}
      <li>
        <a href="?page={{ pg }}"><span>{{pg}}</span></a>
      </li>

      {% endif %} {% endfor %} {% if p.has_next %}
      <li><a href="?page={{p.next_page_number}}">Next</a></li>
      <li><a href="?page={{p.paginator.num_pages}}">&raquo;</a></li>
      {% else %}
      <li><span>&raquo;</span></li>
      {% endif %}
    </ul>
  </div>
</div>
