          <div class="search"> 
            <form class="form-inline" >
              <div class="form-group col-lg-12 col-md-12 col-xs-12"style="display: inline-flex;">
              
            <input id="progName" type="search" class="form-control"  placeholder="Program Name" />
            <input id="moduleName" type="search" class="form-control"  placeholder="Module" />
            <input id="levelName" type="search" class="form-control"  placeholder="Level" />
            <input id="questType" type="search" class="form-control"  placeholder="Question Type" />
            <input id="txtSearch" type="search" class="form-control" style="margin-left: 0%;"  placeholder="Question" />
          </div>
          </form>

          <button id="btnSearch" type="submit" class="btn btn-primary" >
            <span class="fa fa-search"></span>
          </button>
          </div>
