          <table class = "table table-bordered" style="margin:auto">
            <tr>
            <td><input id="progName" type="search" class="form-control"  placeholder="Program Name" /></td>
            <td><input id="moduleName" type="search" class="form-control"  placeholder="Module" /></td>
            <td><input id="levelName" type="search" class="form-control"  placeholder="Level" /></td>
            <td><input id="questType" type="search" class="form-control"  placeholder="Question Type" /></td>
            <td><input id="txtSearch" type="search" class="form-control" style="margin-left: 0%;"  placeholder="Question" /></td>
            <td><button id="btnSearch" type="submit" class="btn btn-warning">
              <span class="fa fa-search " style="color: black;"></span>
            </button></td>
             
          </tr>
          </table>
