{% extends 'edit_question/main.html' %}
{% load static %}
{% block question_type_form %}
<p>
    <label>
        Question Video:
    </label>
</p>
<br>
<p>
    <label>Current: </label>
    <br>
    {{form.instance.question_content}}
    <video controls>
        <source src="{% get_media_prefix %}{{form.instance.question_content}}">
        </source>
    </video>
</p>
<p>
    <label>Change: </label>
    <input type="file" name="question_content" accept="video/*">
</p>
<p>
    <label>Question <span style="color:red">*</span> :</label>
    {{form.question}}
</p>

<div class="options">
    {{option_formset.management_form}}
    <button type="button" class="add_option">Add Option</button>
    <button type="button" class="delete_option">Delete Option</button>
    {% for option_form in option_formset%}
    <div class="option">
        <p>
            <label>{{option_form.option_description.label}} {{forloop.counter}}</label>
            {{option_form.option_description}}
        </p>
        <p>
            <label>{{option_form.is_right_option.label}}<span style="color:red">*</span></label>
            {{option_form.is_right_option}}
        </p>
    </div>
    {%endfor%}
</div>
<script src="{% static 'edit_question/js/add_question_option.js' %}"></script>

<div class="empty_form">
    {{option_formset.empty_form}}
</div>
{% endblock question_type_form %}