{% load static %}
{% load student_tag %}

<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="exercise.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/crossword_styles.css' %}">     
</head>
    <div class="nav">
      <div class="navig">
        <div>
      <img src="{% static 'elixir_logo.PNG' %}"alt="" style="width:20%;height:100%;margin:0;"/>
      </div>
      <div class="navv">
      <a href="{% url 's_home' pk pk1 %}" style="font-size:150%;margin:10px;">HOME</a>
      <a href="" style="font-size:150%;margin:10px;">ABOUT US</a>
      <a href="" style="font-size:150%;margin:10px;">REPORTS</a>
          <a href="{% url 'student_login' %}" style="font-size:150%;margin:10px;">LOG OUT</a>
      </div>
      </div>
	</div>
	<ul class="breadcrumb">
		<li><a href="{% url 'spoken_english' pk pk1 pk2 %}" >MODULES</a></li>
		<li><a href="{% url 'list_narrative' pk pk1 pk2 m.pk l.pk 10 %}">Crossword</a></li>
	  </ul>
	 
<h1 style="text-align:center"> EXERCISES ON {{m.module_name|allcaps}} - {{l.level_description|allcaps}} </h1>

<h2 style="text-align:center"> Crossword </h2>
<br> <br>

<script src="{% static 'js/commonjs.js' %}"></script>
<script>

//Globals
//Adds the hint numbers

function addHint(){
	var answer_start = {{answer_start|safe}}
	placeholder = 0 
	for(var i =0;i<answer_start.length;i++)
	{
		placeholder = placeholder+1
		document.getElementById(answer_start[i]).placeholder = placeholder;
	}
	clueClicked({{questions|safe}},{{across_or_down|safe}});
}
//Stores ID of the selected cell into currentTextInput
//Returns Array
function preparePuzzleArray(){
var items = {{nd_array|safe}};
return items;
}
//Clear All Button
</script>
</head>
<body onload="initializeScreen({{questions|safe}},{{across_or_down|safe}})">
	
	<script>

	
		/*
		function show_words(){
			answers = {{answers|safe}};
			across_or_down = {{across_or_down|safe}};
			var table = document.getElementById('wordbox');
			for(var i=0;i<answers.length;i++){
				var row = table.insertRow(i);
				var cell1 = row.insertCell(0);
				cell1.innerHTML = (i+1)+'.'+'&nbsp'+answers[i]+'&nbsp'+'&nbsp'+'('+'<strong>'+across_or_down[i]+'</strong>'+')';
			}
			window.calls = 0;
			}

			function clueClicked(){
			questions = {{questions|safe}};
			var table = document.getElementById('clues');
			if(window.calls==0){
			for(var i=0;i<questions.length;i++){
				var row = table.insertRow(i);
				var cell1 = row.insertCell(0);
				cell1.innerHTML = (i+1)+'.'+'&nbsp'+questions[i]+'&nbsp'+'&nbsp'+'('+'<strong>'+across_or_down[i]+'</strong>'+')';		
				}
				window.calls = 1;
			}
			}*/
	</script>
<div id='container'>
<div id='pagecenter'>
<div id="leftBox">	
<table id="puzzle">
</table>
</div>

<div id="rightBox">
<table>
	<tr><td><input class="butt"  type="submit" value="Clear All" onclick="clearAllClicked({{questions|safe}},{{across_or_down|safe}})"></td>
	<td><input class="butt"  type="submit" value="Check" onclick="answerblueprint({{new_cells_allowed|safe}},{{answers|safe}},{{across_or_down|safe}})"></td>
	<td><input class="butt" style="display: none;" type="submit" value="Clue" onclick="clueClicked({{questions|safe}},{{across_or_down|safe}})"></td></tr>
</table>
</div>

<div id='adjust'>
<table id="wordbox">		
</table>
<button id="submit" class="button">Submit</button>
<button class="button" onclick="location.href='{% url 'list_narrative' pk pk1 pk2 m.pk l.pk 10 %}'">Back</button></li>
</div>
</div>
<table id="clues"></table>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    $("#submit").click(function(){
		var score = answerblueprint({{new_cells_allowed|safe}},{{answers|safe}},{{across_or_down|safe}});
		//console.log(score);
		var token = "{{csrf_token}}";
		var total_score = 1;
		$.ajax({ // initialize an AJAX request
        url:'/s_home/'+{{pk}}+'/batch/'+{{pk1}}+'/program/'+{{pk2}}+'/module/'+{{m.pk}}+'/level/'+{{l.pk}}+'/score_save/'+{{typ}}+'/'+score+'/'+total_score,
        type:'POST', // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        headers:{"X-CSRFToken":token},
        data: {
        user_score: score,
        level_id: {{l.pk}},
        batch_id: {{pk1}},
        module_id: {{m.pk}},
        student_id: {{pk}},
		narrative:"{{narrative}}",
		question_content_id : "{{question_content_id}}"
        },
        success: function(data) {
      $("#container").html(data) // `data` is the return of the `load_cities` view function
        }
      });
    });
    </script>
</html>