
{% extends 'base/base.html' %}
{% block content %}
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <div class="btn">
      <div class="search">
        <input id="batch" type="text" class="searchTerm" placeholder="NAME" />
        <button id="batch1" type="submit" class="searchButton" >
          <span class="fa fa-search" "aria-hidden="true"></span>
        </button>
      </div>
    </div>

    <br /> 

    <div id="bat_done"></div>
    <br /> 

    <table align="center" style="width: 80%; font-family: Montserrat">
      <tr>
        <th>BATCH</th>
        <th>PROGRAM</th>
        <th>START DATE</th>
        <th>END DATE</th>
        <th>STATUS</th>
        <th>ACTION</th>
      </tr>
      {% for s1 in p %}
      <tr>
        <td>{{s1}}</td>
        <td>{{s1.program_id}}</td>
        <td>{{s1.start_date}}</td>
        <td>{{s1.end_date}}</td>
        <td>{{s1.status}}</td>
        <td>
          <a href="{% url 'edit_batch' s1.batch_id %}">Edit</a> |
          <a href="{% url 'view_batch' s1.batch_id %}">View</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <br />
    <div class="pagination" style="width: 20%; position: absolute; left: 40%">
      <ul style="position: absolute; left: 10%">
        {% if p.has_previous %}
        <li><a href="?page={{p.previous_page_number}}">Previous</a></li>
        {% endif %} {% for pg in p.paginator.page_range %} {% if p.number == pg%}
        <li class="active" style="background-color: orange; color: white">
          <a href="?page={{pg}}">{{pg}}</a>
        </li>
        {% elif pg > p.number|add:'-2' and pg < p.number|add:'2' %}
        <li><a href="?page={{ pg }}">{{pg}}</a></li>
        {% endif %} {% endfor %} {% if p.has_next %}
        <li><a href="?page={{p.next_page_number}}">Next</a></li>
        {% endif %}
      </ul>
    </div>

    <br />
    <div id="container">
      <a style="margin-left: 150px" class="button" href="{% url 'add_batch' %}"
        >ADD BATCH</a>
    </div>

    <script>
      $("#batch1").click(function () {
        //var url = $("#form1").attr("data-modules-url");

        var facId = $("#batch").val();
        console.log(facId); // get the selected country ID from the HTML input

        $.ajax({
          // initialize an AJAX request
          url: "/ajax/batch_search/",
          type: "GET", // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            batch_id: facId, // add the country id to the GET parameters
          },
          success: function (data) {
            // `data` is the return of the `load_cities` view function
            $("#bat_done").html(data); // replace the contents of the city input with the data that came from the server
          },
        });
      });
    </script>
 
 {% endblock content %}
