{% load static %}
{% load student_tag %}

<html>
<head>
     <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>
        
table, th, td {
  border: 2px solid white;
  font-size: 15px;
  font-family: Montserrat;
}
th, td {
  padding: 15px;
  text-align: left;
}
table {
  border-collapse: collapse;
  
}

table {
  width: 100%;
}
    .nav {
  background-color:lightgray; 
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
        
}
    .nav1 li {
  display: inline-block;
  font-size: 12px;
  padding: 75px;
        font-family: 'Montserrat';
}
    .nav1 {
  background-color: rgb(229,149,13); 
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
        font-family: 'Montserrat';
        font-size: 12px;
}
    .nav2 li {
  display: inline-block;
  font-size: 12px;
  padding: 75px;
        font-family: 'Montserrat';
}
 .nav2 {
  background-color:rgb(255,161,0) ; 
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
     font-family: 'Montserrat';
     font-size: 12px;
}
.nav5
 {
   background-color:orange;
   height:30%;
   display:grid;
   grid-template-rows:auto auto auto;
   justify-content:center;
   align-items:center;
 }

 .navig
 {
   grid-row:2/3;
   display:flex;
   flex-wrap:nowrap;
   background-color:white;
   flex-direction:row;
 }

 .navv
 {
   width:80%;
   display:flex;
   flex-direction:row;
   justify-content:center;
   align-items:center;
   margin:10px;
 }
 ul.breadcrumb {
padding: 10px 16px;
list-style: none;
background-color:lightgray;
}
ul.breadcrumb li {
display: inline;
font-size: 18px;
}
ul.breadcrumb li+li:before {
padding: 8px;
color: black;
content: "/\00a0";
}
ul.breadcrumb li a {
color: darkblue;
text-decoration: none;
font-family: 'Montserrat';
}
ul.breadcrumb li a:hover {
color: darkblue;
text-decoration: underline;
}
       
            .button {
  background-color: orange;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: Montserrat;
}
        

    
    </style> </head>
    <title>MI Questionere</title>
    <body style="background-color:lightgray;">
        <div class="nav5">
  <div class="navig">
    <div>
      <img src="{% static 'elixir_logo.PNG' %}" alt="" style="width:20%;margin:0;" />
    </div>
    <div class="navv">
      <a href="{% url 's_home' 9 8%}" style="font-size:150%;margin:10px; font-family:'Montserrat'; ">HOME</a>
      <a href="" style="font-size:150%;margin:10px;font-family:'Montserrat';">ABOUT US</a>
      <a href="" style="font-size:150%;margin:10px;font-family:'Montserrat';">REPORTS</a>
          <a href="{% url 'student_login' %}" style="font-size:150%;margin:10px;font-family:'Montserrat';">LOG OUT</a>
      </div>
      </div>
    </div>
    <ul class="breadcrumb">
      <li><a href="{% url 's_home' 9 8%}" >MODULES</a></li>
      <li><a href="{% url 'Mview1' %}">LIFE SKILLS</a></li>
	  <li><a href="{% url 'Mhome' %}">MULTIPLE INTELLIGENCE</a></li>
      </ul>
<h1 style="font-size: 15px; color: black; font-family: Montserrat;"><center><br><br>
    MULTIPLE INTELLIGENCE - COMPUTATION</center>
    
</h1>
<br>
         <table>
  <tr>
    <th colspan="2" style="background-color:#A5A5A5">Musical</th>
    <th colspan="2" style="background-color:#A5A5A5">Logical</th>
    <th colspan="2" style="background-color:#A5A5A5">Spatial</th>
    <th colspan="2" style="background-color:#A5A5A5">Intrapersonal</th>
    <th colspan="2" style="background-color:#A5A5A5">Interpersonal</th>
    <th colspan="2" style="background-color:#A5A5A5">Linguistic</th>
    <th colspan="2" style="background-color:#A5A5A5">Kiesthetic<br>(Bodily)</th>
    <th colspan="2" style="background-color:#A5A5A5">Natural</th>
  </tr>
  <tr>
    <td style="background-color:rgb(231,231,231)">Q No.</td>
    <td style="background-color:rgb(231,231,231)">Score</td>
    <td style="background-color:rgb(231,231,231)">Q No.</td>
    <td style="background-color:rgb(231,231,231)">Score</td>
    <td style="background-color:rgb(231,231,231)">Q No.</td>
    <td style="background-color:rgb(231,231,231)">Score</td>
    <td style="background-color:rgb(231,231,231)">Q No.</td>
    <td style="background-color:rgb(231,231,231)">Score</td>
    <td style="background-color:rgb(231,231,231)">Q No.</td>
    <td style="background-color:rgb(231,231,231)">Score</td>
    <td style="background-color:rgb(231,231,231)">Q No.</td>
    <td style="background-color:rgb(231,231,231)">Score</td>
    <td style="background-color:rgb(231,231,231)">Q No.</td>
    <td style="background-color:rgb(231,231,231)">Score</td>
    <td style="background-color:rgb(231,231,231)">Q No.</td>
    <td style="background-color:rgb(231,231,231)">Score</td>
  </tr>
 <tr>
    <td><b>1</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total1"));
    </script> </td>
    <td><b>6</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total6"));
    </script></td>
    <td><b>3</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total3"));
    </script></td>
    <td><b>7</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total7"));
    </script></td>
    <td><b>11</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total11"));
    </script></td>
    <td><b>5</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total5"));
    </script></td>
    <td><b>12</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total12"));
    </script></td>
    <td><b>2</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total2"));
    </script></td>
  </tr>
<tr>
    <td style="background-color:rgb(231,231,231)"><b>4</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total4"));
    </script></td>
    <td style="background-color:rgb(231,231,231)"><b>8</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total8"));
    </script></td>
    <td style="background-color:rgb(231,231,231)"><b>15</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total15"));
    </script></td>
    <td style="background-color:rgb(231,231,231)"><b>24</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total24"));
    </script></td>
    <td style="background-color:rgb(231,231,231)"><b>21</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total21"));
    </script></td>
    <td style="background-color:rgb(231,231,231)"><b>10</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total10"));
    </script></td>
    <td style="background-color:rgb(231,231,231)"><b>16</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total16"));
    </script></td>
    <td style="background-color:rgb(231,231,231)"><b>19</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total19"));
    </script></td>
  </tr>
<tr>
    <td><b>9</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total9"));
    </script></td>
    <td><b>13</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total13"));
    </script></td>
    <td><b>17</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total17"));
    </script></td>
    <td><b>25</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total25"));
    </script></td>
    <td><b>26</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total26"));
    </script></td>
    <td><b>22</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total22"));
    </script></td>
    <td><b>20</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total20"));
    </script></td>
    <td><b>23</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total23"));
    </script></td>
  </tr>
<tr>
    <td style="background-color:rgb(231,231,231)"><b>18</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total18"));
    </script></td>
    <td style="background-color:rgb(231,231,231)"><b>14</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total14"));
    </script></td>
    <td style="background-color:rgb(231,231,231)"><b>35</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total35"));
    </script></td>
    <td style="background-color:rgb(231,231,231)"><b>28</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total28"));
    </script></td>
    <td style="background-color:rgb(231,231,231)"><b>33</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total33"));
    </script></td>
    <td style="background-color:rgb(231,231,231)"></td>
    <td style="background-color:rgb(231,231,231)"></td>
    <td style="background-color:rgb(231,231,231)"><b>29</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total29"));
    </script></td>
    <td style="background-color:rgb(231,231,231)"><b>27</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total27"));
    </script></td>
  </tr>
<tr>
    <td><b>31</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total31"));
    </script></td>
    <td><b>36</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total36"));
    </script></td>
    <td></td>
    <td></td>
    <td><b>30</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total30"));
    </script></td>
    <td><b>37</td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total37"));
    </script></td>
    <td></td>
    <td></td>
    <td><b>34</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total34"));
    </script></td>
    <td></td>
    <td></td>
  </tr>
<tr>
    <td style="background-color:rgb(231,231,231)"><b>32</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total32"));
    </script></td>
    <td style="background-color:rgb(231,231,231)"><b>39</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total39"));
    </script></td>
    <td style="background-color:rgb(231,231,231)"></td>
    <td style="background-color:rgb(231,231,231)"></td>
    <td style="background-color:rgb(231,231,231)"></td>
    <td style="background-color:rgb(231,231,231)"></td>
    <td style="background-color:rgb(231,231,231)"></td>
    <td style="background-color:rgb(231,231,231)"></td>
    <td style="background-color:rgb(231,231,231)"></td>
    <td style="background-color:rgb(231,231,231)"></td>
    <td style="background-color:rgb(231,231,231)"><b>40</b></td>
    <td style="background-color:rgb(231,231,231)"><script type="text/javascript">
        document.write(localStorage.getItem("total40"));
    </script></td>
    <td style="background-color:rgb(231,231,231)"></td>
    <td style="background-color:rgb(231,231,231)"></td>
  </tr>
<tr>
    <td><b>38</b></td>
    <td><script type="text/javascript">
        document.write(localStorage.getItem("total38"));
    </script></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<tr>
    <td colspan="16" style="background-color:rgb(231,231,231)">
</tr>

  <tr>
        <th> Total Score (TS)</th>
        <th><script type="text/javascript">
        document.write(localStorage.getItem("ts1"));
    </script></th>
	<th>TS</th>
	<th><script type="text/javascript">
        document.write(localStorage.getItem("ts2"));
    </script></th>
	<th>TS</th>
	<th><script type="text/javascript">
        document.write(localStorage.getItem("ts3"));
    </script></th>
	<th>TS</th>
	<th><script type="text/javascript">
        document.write(localStorage.getItem("ts4"));
    </script></th>
	<th>TS</th>
	<th><script type="text/javascript">
        document.write(localStorage.getItem("ts5"));
    </script></th>
	<th>TS</th>
	<th><script type="text/javascript">
        document.write(localStorage.getItem("ts6"));
    </script></th>
	<th>TS</th>
	<th><script type="text/javascript">
        document.write(localStorage.getItem("ts7"));
    </script></th>
	<th>TS</th>
	<th><script type="text/javascript">
        document.write(localStorage.getItem("ts8"));
    </script></th>
</tr>
<tr>
    <td style="background-color:rgb(231,231,231)">Ideal Score (IS)</td>
    <td style="background-color:rgb(231,231,231)">42</td>
    <td style="background-color:rgb(231,231,231)">IS</td>
    <td style="background-color:rgb(231,231,231)">36</td>
    <td style="background-color:rgb(231,231,231)">IS</td>
    <td style="background-color:rgb(231,231,231)">24</td>
    <td style="background-color:rgb(231,231,231)">IS</td>
    <td style="background-color:rgb(231,231,231)">30</td>
    <td style="background-color:rgb(231,231,231)">IS</td>
    <td style="background-color:rgb(231,231,231)">30</td>
    <td style="background-color:rgb(231,231,231)">IS</td>
    <td style="background-color:rgb(231,231,231)">18</td>
    <td style="background-color:rgb(231,231,231)">IS</td>
    <td style="background-color:rgb(231,231,231)">36</td>
    <td style="background-color:rgb(231,231,231)">IS</td>
    <td style="background-color:rgb(231,231,231)">24</td>
  </tr>
<tr>
    <td colspan="16" style="background-color:rgb(231,231,231)">
</tr>
<tr>
        <th colspan="2" style="background-color:#A5A5A5"> Intellligence<p style="float:right"><script type="text/javascript">
        document.write(localStorage.getItem("is1"));
    </script>%</p><br> Int % <br>(TS/IS)*100</th>
        <th colspan="2" style="background-color:#A5A5A5;text-align:center"><script type="text/javascript">
        document.write(localStorage.getItem("is2"));
    </script>%</th>
	<th colspan="2"  style="background-color:#A5A5A5;text-align:center"><script type="text/javascript">
        document.write(localStorage.getItem("is3"));
    </script>%</th>
	<th colspan="2" style="background-color:#A5A5A5;text-align:center"><script type="text/javascript">
        document.write(localStorage.getItem("is4"));
    </script>%</th>
        <th colspan="2" style="background-color:#A5A5A5;text-align:center"><script type="text/javascript">
        document.write(localStorage.getItem("is5"));
    </script>%</th>
	<th colspan="2" style="background-color:#A5A5A5;text-align:center"><script type="text/javascript">
        document.write(localStorage.getItem("is6"));
    </script>%</th>
	<th colspan="2" style="background-color:#A5A5A5;text-align:center"><script type="text/javascript">
        document.write(localStorage.getItem("is7"));
    </script>%</th>
        <th colspan="2" style="background-color:#A5A5A5;text-align:center"><script type="text/javascript">
        document.write(localStorage.getItem("is8"));
    </script>%</th>
	 
	
</tr>
</table>
       <br><br>
        <div class="footer">
        <center> <a href="{% url 'Mhome' %}" class="button"><b>Go back</b></a> </center>
        </div>
        <br><br>
		
		<script>
	 function getResult() {
      var firstQues = document.getElementsByName('first');
      var secondQues = document.getElementsByName('second');
	  var thirdQues = document.getElementsByName('third');
	  var fourthQues = document.getElementsByName('fourth');
	  var fifthQues = document.getElementsByName('fifth');
	  var sixthQues = document.getElementsByName('sixth');
	  var seventhQues = document.getElementsByName('seven');
	  var eightQues = document.getElementsByName('eighth');
	  var ninthQues = document.getElementsByName('ninth');
	  var tenthQues = document.getElementsByName('tenth');
	  var eleQues = document.getElementsByName('eleven');
	  var twQues = document.getElementsByName('twelfth');
	  var thirteenQues = document.getElementsByName('thirteenth');
	  var fourteenQues = document.getElementsByName('fourteen');
	  var fifteenQues = document.getElementsByName('fifteen');
	  var sixteenQues = document.getElementsByName('sixteen');
	  var seventeenQues = document.getElementsByName('seventeen');
	  var eighteenQues = document.getElementsByName('eighteen');
	  var ninteenQues = document.getElementsByName('ninteen');
	  var twentyQues = document.getElementsByName('twenty');
	  var twentyoneQues = document.getElementsByName('twentyone');
	  var twentytwoQues = document.getElementsByName('twentytwo');
	  var twentythreeQues = document.getElementsByName('twentythree');
	  var twentyfourQues = document.getElementsByName('twentyfour');
	  var twentyfiveQues = document.getElementsByName('twentyfive');
      var total1 = 0;
	  var total2 = 0;
	  var total3 = 0;
	  var total4 = 0;
	  var total5 = 0;
	  var total6 = 0;
	  var total7 = 0;
	  var total8 = 0;
	  var total9 = 0;
	  var total10 = 0;
	  var total11 = 0;
	  var total12 = 0;
	  var total13 = 0;
	  var total14 = 0;
	  var total15 = 0;
	  var total16 = 0;
	  var total17 = 0;
	  var total18 = 0;
	  var total19 = 0;
	  var total20 = 0;
	  var total21 = 0;
	  var total22 = 0;
	  var total23 = 0;
	  var total24 = 0;
	  var total25 = 0;
	  var total26 = 0;
       firstQues.forEach((evnt) => {
         if (evnt.checked) {
            total1 = total1 + parseInt(evnt.value);
            return;
         }
      });
      secondQues.forEach((evnt) => {
         if (evnt.checked) {
            total2 = total2 + parseInt(evnt.value);
            return;
         }
     });
	  thirdQues.forEach((evnt) => {
         if (evnt.checked) {
            total3 = total3 + parseInt(evnt.value);
            return;
         }
      });
	  fourthQues.forEach((evnt) => {
         if (evnt.checked) {
            total4 = total4 + parseInt(evnt.value);
            return;
         }
      });
	  fifthQues.forEach((evnt) => {
         if (evnt.checked) {
            total5 = total5 + parseInt(evnt.value);
            return;
         }
      });
	  sixthQues.forEach((evnt) => {
         if (evnt.checked) {
            total6 = total6 + parseInt(evnt.value);
            return;
         }
      });
	  seventhQues.forEach((evnt) => {
         if (evnt.checked) {
            total7 = total7 + parseInt(evnt.value);
            return;
         }
      });
	  eightQues.forEach((evnt) => {
         if (evnt.checked) {
            total8 = total8 + parseInt(evnt.value);
            return;
         }
      });
	  ninthQues.forEach((evnt) => {
         if (evnt.checked) {
            total9 = total9 + parseInt(evnt.value);
            return;
         }
      });
	  
	  tenthQues.forEach((evnt) => {
         if (evnt.checked) {
            total10 = total10 + parseInt(evnt.value);
            return;
         }
      });
	  eleQues.forEach((evnt) => {
         if (evnt.checked) {
            total11 = total11 + parseInt(evnt.value);
            return;
         }
      });
	  twQues.forEach((evnt) => {
         if (evnt.checked) {
            total12 = total12 + parseInt(evnt.value);
            return;
         }
      });
	  thirteenQues.forEach((evnt) => {
         if (evnt.checked) {
            total13 = total13 + parseInt(evnt.value);
            return;
         }
      });
	  fourteenQues.forEach((evnt) => {
         if (evnt.checked) {
            total14 = total14 + parseInt(evnt.value);
            return;
         }
	  fifteenQues.forEach((evnt) => {
         if (evnt.checked) {
            total15 = total15 + parseInt(evnt.value);
            return;
         }
      sixteenQues.forEach((evnt) => {
         if (evnt.checked) {
            total16 = total16 + parseInt(evnt.value);
            return;
         }
      seventeenQues.forEach((evnt) => {
         if (evnt.checked) {
            total17 = total17 + parseInt(evnt.value);
            return;
         }
      eighteenQues.forEach((evnt) => {
         if (evnt.checked) {
            total18 = total19 + parseInt(evnt.value);
            return;
         }
      ninteenQues.forEach((evnt) => {
         if (evnt.checked) {
            total19 = total19 + parseInt(evnt.value);
            return;
         }
      twentyQues.forEach((evnt) => {
         if (evnt.checked) {
            total20 = total20 + parseInt(evnt.value);
            return;
         }
      twentyoneQues.forEach((evnt) => {
         if (evnt.checked) {
            total21 = total21 + parseInt(evnt.value);
            return;
         }
	  twentytwoQues.forEach((evnt) => {
         if (evnt.checked) {
            total22 = total22 + parseInt(evnt.value);
            return;
         }
      twentythreeQues.forEach((evnt) => {
         if (evnt.checked) {
            total23 = total23 + parseInt(evnt.value);
            return;
         }
      twentyfourQues.forEach((evnt) => {
         if (evnt.checked) {
            total24 = total24 + parseInt(evnt.value);
            return;
         }
      twentyfiveQues.forEach((evnt) => {
         if (evnt.checked) {
            total25 = total25 + parseInt(evnt.value);
            return;
         }		 
	//	else{
    // alert("Please select all values");	 
	 //} 


      });
	  
	   

	  
   }
</script>
</body>

</html>