{% extends 'view_question/main.html' %} {% load static %} {% block sub_view %}
<label>Image: </label>
<br/>
{{f.question_content}}
<img src="{% get_media_prefix %}{{f.question_content}}" alt="" style="width: 300px;height: 250px"/>
<p>
  <label>Narrative:</label>
  {{f.narrative}}<br/> 
</p>
<p>
  <label>Question: </label>
  {{f.question}}<br/> 
</p>

{% for option in f.options %}
<p>
  <label>Option {{ forloop.counter }}:</label>
  {{option}}<br/> 
</p>
{% endfor %}

<p>
  <label>Answer:</label>
  {{f.answer}}<br/> 
</p>

<p>
  <label>Comments:</label>
  {{f.comments}}<br/> 
</p>
<p>
  <label>Hint:</label>
  {{f.hint}}<br/> 
</p>
{% endblock sub_view %}
