{% extends 'view_question/main.html' %} {% load static %} {% block sub_view %}
<p>
  <label>Narrative:</label>
  {{f.narrative}}<br/> 
</p>
<p>
  <label>Question: </label>
  {{f.question}}<br/> 
</p>

{% for option in f.options %}
<p>
  <label>Option {{ forloop.counter }}: </label>
  <img src="{% get_media_prefix %}{{option}}" alt="" style="width: 300px;height: 250px" />
</p>
{% endfor %}

<p>
  <label>Answer:</label>
  <img src="{% get_media_prefix %}{{f.answer}}" alt="" style="width: 300px;height: 250px"/>
</p>

<p>
  <label>Comments:</label>
  {{f.comments}}<br/> 
</p>
<p>
  <label>Hint:</label>
  {{f.hint}}<br/> 
</p>
{% endblock sub_view %}
