{% extends 'view_question/main.html' %}
{% load static %}
{% block sub_view %}
<label>Audio: </label>

<audio controls>
    <source src="{% get_media_prefix %}{{f.question_content}}" />
</audio>
<p>
    <label>Content Id: </label>
    {{f.question_content.pk}}
</p>
<p>
    <label>
        Sub Questions:
    </label>
</p>


{% for sub_question in f.sub_questions %}
<label> Question {{ forloop.counter }}: </label>
{{sub_question.question}}
{% for option in sub_question.options %}
<p>
    <label>Option {{ forloop.counter }}:</label>
    {{option}}
</p>
{% endfor %}

<p>

    <label>Answer: </label>
    {{sub_question.answer}}

</p>

<p>
    <label>Comments:</label>
    {{f.comments}}
</p>
<br>
{% endfor %}
{% endblock sub_view %}