{% extends 'base/base.html' %}
{% block content %} 
    {% load user_tags %} 
    {% load static %}

    <div >
        
        <br><br>
           <input type="hidden" id="hidType" value="questions" />
           {% include  'base/search.html' %} 
 
      
          <br/>
          <div id="divData">
              <div class="row">
                <div class="col-md-12 table-responsive" id="divData">
                  <table
                    class="table"
                    align="center"
                    style="width: 90%; font-family: Montserrat">
                    <tr>
                      <th>PROGRAM NAME</th>
                      <th>MODULE</th>
                      <th>LEVEL</th>
                      <th>QUESTION TYPE</th>
                      <th>QUESTION</th>
                      <th>ACTION</th>
                    </tr>
                    {% for q1 in p %}
                    <tr>
                      <td class="col-sm-2">{{q1.program}}</td>
                      <td class="col-sm-1">{{q1.module}}</td>
                      <td class="col-sm-1">{{q1.level}}</td>
                      <td class="col-sm-1">{{q1.question_type}}</td>
                      <td class="col-sm-6">{{q1.question}}</td>
                      <td class="col-sm-3">
                        <a
                          href="{% url 'view_questions' q1.question_id %}"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="View"
                          ><span class="glyphicon glyphicon-eye-open actionview"></span>
                          </a>
                        &nbsp; &nbsp;
                        <a
                          href="{% url 'edit_question' q1.question_id %}"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="Edit"
                          ><span class="glyphicon glyphicon-pencil actionedit"></span
                        ></a>
                        &nbsp; &nbsp;
                        <a
                          href="{% url 'delete_question' q1.question_id %}"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="Delete"
                          ><span class="glyphicon glyphicon-remove actionremove"></span
                        ></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              
 
              <div class="row" style="margin-top: 15px"> 
                 {% include 'ajax/pagination_search.html' %}
              </div>
          </div>

          <div class="row margin" style="margin-top: 25px">
              <div class="col-md-12">
                <br /><br /><br />
                <div style="position: absolute; left: 10%" id="">
                  <a class="button" href="{% url 'add_question' %}">ADD QUESTION</a>
                  <a class="button" onClick="func()" href="{% url 'questions_export' %}">EXPORT QUESTIONS</a>

                  <form  method="post" action="{% url 'questions_import' %}" enctype="multipart/form-data" style="margin: 20px;">
                     {% csrf_token %}
                   <div class="form-group">
                   <input type="file" name="myfile" />
                   <button class="button" type="submit">Upload</button>
                   </div>
                  </form>
                </div>
              </div>
            </div>
      </div>
      <script>
        function func() {
          alert("CSV File will Begin Downloading");
        }
      </script>

{% endblock content %}

