{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="{% static 'edit_question/css/index.css' %}" />
    <title>Add/Edit Question</title>
    <meta name="google" content="notranslate" />
  </head>

  <body>
    <div id="top">
      <br />
      <center>
        <img src="{% static 'elixir_logo.PNG' %}" width="60" height="60" />
      </center>
    </div>

    <ul>
      <li><a href="{% url 'password' %}">PASSWORD MANAGEMENT</a></li>
      <li><a href="{% url 'batches' %}">BATCH MANAGEMENT</a></li>
      <li><a href="{% url 'students' %}">STUDENT MANAGEMENT</a></li>
      <li><a href="{% url 'centers' %}">CENTER MANAGEMENT</a></li>
      <li><a href="{% url 'questions' %}">MANAGE QUESTIONS</a></li>
      <li><a href="#reports">REPORTS</a></li>
      <li style="float: right"><a href="#about">FAQs</a></li>
      <li style="float: right">
        <a href="{% url 'admin_logout' %}">Logout</a>
      </li>
      <li style="float: right"><a href="{% url 'home' %}">HOME</a></li>
    </ul>

    <br /><br />

    <div id="box">
      <form method="POST" id="form1" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
          <label>Program <span style="color: red">*</span> :</label>
          {{form.program}}
        </p>
        <p>
          <label>Module <span style="color: red">*</span> :</label>
          {{form.module}}
        </p>
        <p>
          <label>Level <span style="color: red">*</span> :</label>
          {{form.level}}
        </p>
        <script src="{% static 'edit_question/js/get_module_level.js' %}"></script>
        <p>
          <label>Narrative:</label>
          {{form.narrative}}{{form.narrative.errors}}
        </p>
        <p>
          <label>Question Type:</label>
          {{form.question_type}}{{form.question_type.errors}}
        </p>
         <p>
          <label>Assessment Type:</label>
          {{form.assessment_type}}{{form.assessment_type.errors}}
        </p>
        {% block question_type_form %} {% endblock question_type_form %}
         <script src="{% static 'add_question/js/question_type_form.js' %}"></script>
        <p>
          <label>Hint: </label>
          {{form.hint}}{{form.hint.errors}}
        </p>

        <p>
          <label>Comments: </label>
          {{form.comments}}{{form.comments.errors}}
        </p>

        <br />

        <div class="form-group">
          <button type="button" class="button">
            Submit
          </button>
          <button
          type="button"
          class="button"
          onclick="back()"
          >
            Cancel
          </button>
        </div>
        <script>
          back = () => window.history.back();
        </script>
        <script src="{% static 'edit_question/js/submit_form.js' %}"></script>
      </form>

      <br />
      <div class="error"></div>
      <br />
    </div>
  </body>
</html>
