{% extends '../../base/base.html' %} {% block content %}
{% load static %}
<!doctype html>
  <br><br> 
  <div id="box">

    <form method="POST">
      {% csrf_token %}

      <p>
        <label>Module Name <span style="color:red">*</span> :</label>
        {{form.module_name}}{{form.module_name.errors}}
      </p>

      <p>
        <label>Comments <span style="color:red">*</span> :</label>
        {{form.comments}}{{form.comments.errors}}
      </p>


      <br>
      <input style="margin-left:120px" type="submit" class="button" value="Submit">
      <button
      type="button"
      class="button"
      onclick="back()"
    >
      Cancel
    </button>

    </form>
  </div>
  {% endblock content %}
 