{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Password Management</title>
  </head>
  <body>
      <br><br>
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
          {% for message in messages %}
          <div class="" style="background-color:rgb(50, 221, 110);padding:20px;margin:20px" role="alert">
            {{message}}
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <br>
<div class="row">
  <div class="col-md-12">
      <table class="table" align="center" style="width:55%;font-family: Montserrat">
      <tr>
        <th>FACILITATOR NAME</th>
        <th>MOBILE NUMBER</th>
        <th>EMAIL ID</th>
        <th>EDIT</th>
      </tr>
      {% for f1 in p %}
      <tr>
        <td class="col-md-2">{{f1.first_name}} {{f1.last_name}}</td>
        <td class="col-md-2">{{f1.mobile_number}}</td>
        <td class="col-md-4">{{f1.email_id}}</td>
        <td class="col-md-1"><a href="{% url 'password_management_facilitator' f1.facilitator_id %} "data-toggle="tooltip" data-placement="bottom" title="Edit"><span class="glyphicon glyphicon-pencil actionedit"></span></a></td>
      </tr>
      {% endfor %}
      </table>
    </div>
  </div>
<br><br>
<div class="row">
  <div class="col-md-12">
<div class="pagination" style="width:20%;position:absolute;left:40%">
<ul style="position:absolute;left:10%">
  {% if p.has_previous %}
  <li><a href="?page={{p.previous_page_number}}">Previous</a></li>
 {% endif %}
 {% for pg in p.paginator.page_range %}
 {% if p.number == pg %}
 <li class="active" style="background-color:orange;color:white;"><a href="?page={{pg}}">{{pg}}</a></li>
{% elif pg > p.number|add:'-2' and pg < p.number|add:'2' %}
<li><a href="?page={{ pg }}">{{pg}}</a></li>
{% endif %}
{% endfor %}

{% if p.has_next %}
<li><a href="?page={{p.next_page_number}}">Next</a></li>
{% endif %}
</ul>

</div>
<br><br>
    
</div>
</div>
  </body>
</html>
{% endblock content %}