{% extends 'base/base.html' %}
{% block content %}
{% load user_tags %}
{% load static %}

<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  
  

<div id="container">

<h1>Password Management</h1>

 <a class="button" href="{% url 'password_management_facilitators' %}">FACILITATORS</a>
<a class="button" href="{% url 'password_management_students' %}">STUDENTS</a>


</div>
<br><br>


    </body>
</head>
</html>
{% endblock content%} 