{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<!doctype html>
<script type="text/javascript">
  function cancelResetPassword(){
    //alert("hi")
    window.location = "/password_management_facilitators";
  }
</script>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

  <title>Change Password</title>
  </head>
  <body>
<div id="box">
      <form method="POST">
            {% csrf_token %}
      <h2 class="fontcl">Name : <span style="margin-left: 125px;"> {{f.first_name}} {{f.last_name}}</span></h2>
      <p><label for="">Current Password :</label>
      {{f.password}}</p>
            <p>
            <label>Change  Password :</label>
            {{form.password}}</p>
          <br>
          <input style="margin-left:120px" type="submit" class="button" value="Submit">
          <input style="margin-left:10px" type="button" onclick="cancelResetPassword()" class="button" value="Cancel">
      </form>
</div>

</body>
</html>
{% endblock content %}