{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

  <title>Change Password</title>
 
  </head>

  <body>
      <br><br>


<div id="box">

      <form method="POST">
            {% csrf_token %}

            <h2 class="fontcl">Student ID : <span style="margin-left: 90px;">{{s.student_id}} </span></h2>
            <h2 class="fontcl">Name :  <span style="margin-left: 120px;">{{s.first_name}} {{s.last_name}}</span></h2>
      <p><label for="">Current Password :</label>
      {{s.password}}</p>
            <p>
            <label>Change  Password :</label>
            {{form.password}}</p>


          <br>
          <input style="margin-left:120px" type="submit" class="button" value="Submit">

      </form>
</div>
</body>

</html>
{% endblock content %}