{% load static %}
{% load student_tag %}

<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="exercise.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'match_styles.css' %}">
</head>
<script>
    var col1 = ["He is reading a", "She likes riding her", "At 7:30 he had breakfast with tea and", "You should go to the hairdresser's and", "What are you looking for?", "It is dark,can you", "His line was engaged,I'll have to", "They are listening to music but", "I need stamps,can you tell me", "I feel like going out tonight"];
    var col2 = ["have your hair cut", "Dosa and idli", "call him again", "where the post-office is", "book", "switch on the lights", "shall we go to the restaurant", "horse", "it is a little too loud", "my keys, I have lost them"];
</script>

<div class="nav">
    <div class="navig">
        <div>
            <img src="{% static 'elixir_logo.PNG' %}" alt="" style="width:20%;height:100%;margin:0;" />
        </div>
        <div class="navv">
            <a href="{% url 's_home' pk pk1 %}" style="font-size:150%;margin:10px;">HOME</a>
            <a href="" style="font-size:150%;margin:10px;">ABOUT US</a>
            <a href="" style="font-size:150%;margin:10px;">REPORTS</a>
            <a href="{% url 'student_login' %}" style="font-size:150%;margin:10px;">LOGOOUT</a>
        </div>
    </div>
</div>


<h1 style="text-align:center"> EXERCISES ON {{m.module_name|allcaps}} - LEVEL {{l.level_number}} </h1>
<br>
<h2 style="text-align:center"> Match the following </h2>
<br> <br>


<body>


    <center>


        <table>
            <tr>
                <th>No</th>
                <th>Column A</th>
                <th>Column B</th>
                <th>Match</th>

            </tr>
            <tr>
                <td>1</td>
                <td>
                    <script type="text/javascript">document.write(col1[0])</script>
                </td>
                <td>
                    <script type="text/javascript">document.write(col2[0])</script>
                </td>
                <td><input type="number" id="r1" name="r1" min="1" max="10" oninput="this.style.borderColor ='black'">
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <script type="text/javascript">document.write(col1[1])</script>
                </td>
                <td>
                    <script type="text/javascript">document.write(col2[1])</script>
                </td>
                <td><input type="number" id="r2" name="r2" min="1" max="10" oninput="this.style.borderColor ='black'">
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    <script type="text/javascript">document.write(col1[2])</script>
                </td>
                <td>
                    <script type="text/javascript">document.write(col2[2])</script>
                </td>
                <td><input type="number" id="r3" name="r3" min="1" max="10" oninput="this.style.borderColor ='black'">
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    <script type="text/javascript">document.write(col1[3])</script>
                </td>
                <td>
                    <script type="text/javascript">document.write(col2[3])</script>
                </td>
                <td><input type="number" id="r4" name="r4" min="1" max="10" oninput="this.style.borderColor ='black'">
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <script type="text/javascript">document.write(col1[4])</script>
                </td>
                <td>
                    <script type="text/javascript">document.write(col2[4])</script>
                </td>
                <td><input type="number" id="r5" name="r5" min="1" max="10" oninput="this.style.borderColor ='black'">
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                    <script type="text/javascript">document.write(col1[5])</script>
                </td>
                <td>
                    <script type="text/javascript">document.write(col2[5])</script>
                </td>
                <td><input type="number" id="r6" name="r6" min="1" max="10" oninput="this.style.borderColor ='black'">
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td>
                    <script type="text/javascript">document.write(col1[6])</script>
                </td>
                <td>
                    <script type="text/javascript">document.write(col2[6])</script>
                </td>
                <td><input type="number" id="r7" name="r7" min="1" max="10" oninput="this.style.borderColor ='black'">
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>
                    <script type="text/javascript">document.write(col1[7])</script>
                </td>
                <td>
                    <script type="text/javascript">document.write(col2[7])</script>
                </td>
                <td><input type="number" id="r8" name="r8" min="1" max="10" oninput="this.style.borderColor ='black'">
                </td>
            </tr>
            <tr>
                <td>9</td>
                <td>
                    <script type="text/javascript">document.write(col1[8])</script>
                </td>
                <td>
                    <script type="text/javascript">document.write(col2[8])</script>
                </td>
                <td><input type="number" id="r9" name="r9" min="1" max="10" oninput="this.style.borderColor ='black'">
                </td>
            </tr>
            <tr>
                <td>10</td>
                <td>
                    <script type="text/javascript">document.write(col1[9])</script>
                </td>
                <td>
                    <script type="text/javascript">document.write(col2[9])</script>
                </td>
                <td><input type="number" id="r10" name="r10" min="1" max="10" oninput="this.style.borderColor ='black'">
                </td>
            </tr>

        </table>
        <br>
        <button class="button" onclick="check()">Submit</button>
        <h1 id="demo"></h1>


    </center>
</body>


<script>
    function check() {

        var ans = [4, 3, 7, 9, 1, 6, 10, 2, 8, 5];

        myfun.res(ans);
    }

</script>
<script src="{% static 'logic.js' %}"></script>



</html>