{% load static %}
{% load student_tag %}


<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="exercise.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'match_styles.css' %}">
</head>
{% if empty %}
<script>
    var col1 ={{ colq|safe }};
    var col2 ={{ cola|safe }};
    var answers = {{final_options|safe}};
</script>

<div class="nav">
    <div class="navig">
        <div>
            <img src="{% static 'elixir_logo.PNG' %}" alt="" style="width:20%;height:100%;margin:0;" />
        </div>
        <div class="navv">
            <a href="{% url 's_home' pk pk1 %}" style="font-size:150%;margin:10px;">HOME</a>
            <a href="" style="font-size:150%;margin:10px;">ABOUT US</a>
            <a href="" style="font-size:150%;margin:10px;">REPORTS</a>
            <a href="{% url 'student_login' %}" style="font-size:150%;margin:10px;">LOG OUT</a>
        </div>
    </div>
</div>
<ul class="breadcrumb">
    <li><a href="{% url 'spoken_english' pk pk1 pk2 %}" >MODULES</a></li>
    <li><a href="#">QUESTIONS</a></li>
 </ul>
 <h1 style="text-align:center">EXERCISES ON {{m.module_name|allcaps}} - {{l.level_description|allcaps}}</h1>

<h2 style="text-align:center"> Match The Following </h2>
<br> <br>


<body>


    <center>

        <div id="container">
        <table>
            <tr>
                <th>No</th>
                <th>questions</th>
                <th>options</th>
                <th>Match</th>

            </tr>
            <tr>
                <td>1</td>
                <td>
                    <script type="text/javascript">document.write(col1[0])</script>
                </td>
                <td>
                    <script type="text/javascript">document.write(col2[0])</script>
                </td>
                <td><input type="number" id="r1" name="r1" min="1" max="6" oninput="this.style.borderColor ='black'">
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <script type="text/javascript">document.write(col1[1])</script>
                </td>
                <td>
                    <script type="text/javascript">document.write(col2[1])</script>
                </td>
                <td><input type="number" id="r2" name="r2" min="1" max="6" oninput="this.style.borderColor ='black'">
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    <script type="text/javascript">document.write(col1[2])</script>
                </td>
                <td>
                    <script type="text/javascript">document.write(col2[2])</script>
                </td>
                <td><input type="number" id="r3" name="r3" min="1" max="6" oninput="this.style.borderColor ='black'">
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    <script type="text/javascript">document.write(col1[3])</script>
                </td>
                <td>
                    <script type="text/javascript">document.write(col2[3])</script>
                </td>
                <td><input type="number" id="r4" name="r4" min="1" max="6" oninput="this.style.borderColor ='black'">
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <script type="text/javascript">document.write(col1[4])</script>
                </td>
                <td>
                    <script type="text/javascript">document.write(col2[4])</script>
                </td>
                <td><input type="number" id="r5" name="r5" min="1" max="6" oninput="this.style.borderColor ='black'">
                </td>
            </tr>
           
        </table>
        <br>
        
            <button id="submit" class="button">Submit</button>
    </div>
        <h1 id="demo"></h1>
    </center>
</body>

<script>
    var g = 0;
    function check() {
        var ans = {{final_options|safe}};
        var c = myfun.res(ans);
        g = c;
        console.log(c)
        return g;
    }

</script>
<script src="{% static 'logic1.js' %}"></script>
<div id="container"></div>

{% else %}

<h1>make sure you have atleast 5 questions in this narrative!</h1>
{% endif %}

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script>
    $("#submit").click(function(){
    var score = check();
    var token = "{{csrf_token}}";
    $.ajax({ // initialize an AJAX request
        url:'/s_home/'+{{pk}}+'/batch/'+{{pk1}}+'/program/'+{{pk2}}+'/module/'+{{m.pk}}+'/level/'+{{l.pk}}+'/score_save/'+{{typ}},
        type:'POST', // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        headers:{"X-CSRFToken":token},
        data: {
        user_score: score,
        level_id: {{l.pk}},
        batch_id: {{pk1}},
        module_id: {{m.pk}},
        student_id: {{pk}},
        assessment_type:"{{narrative}}",
        },
        success: function(data) {
      $("#container").html(data) // `data` is the return of the `load_cities` view function
        }
      });
    });
    </script>
</html>
